html {
  background: url("clouds.gif") no-repeat center center fixed;
  background-size: cover;
}




body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.correct {
  background: url(clapping.gif) center center fixed;
  color: #008000;
}

.wrong {
  background: url(no.gif) center center fixed;
  color: #ff0000;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: #BAB8B7;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: #000000;
  border: 1px solid #160f7e;
  background-color: #2f97ae;
  border-radius: 5px;
  padding: 5px 10px;
  color: #38466e;
  outline: none;
  font-family: fantasy;
  font-weight:bolder;
}

.btn:hover {
  border-color: #b0abee;
}

.btn.correct {
  color: #117352;
}

.btn.wrong {
  color: #ff0000;
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  /* padding: 10px 20px; */
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}