html {
  background: url("clouds.gif") no-repeat center center fixed;
  background-size: cover;
}


/* 
*::before, *::after {
  box-sizing: border-box;
  font-family: fantasy;
} */



body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.correct {
}
.correct {
  background: url(clapping.gif) center center fixed;
  color: green;
}

.wrong {
  background: url(no.gif) center center fixed;
  color: red;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: rgb(183, 185, 186);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: black;
  border: 1px solid rgb(22, 15, 126);
  background-color: rgb(47, 151, 174);
  border-radius: 5px;
  padding: 5px 10px;
  color: rgb(56, 70, 110);
  outline: none;
  font-family: fantasy;
  font-weight:bolder;
}

.btn:hover {
  border-color: rgb(176, 171, 238);
}

.btn.correct {
  color: rgb(17, 115, 82);
}

.btn.wrong {
  color: red;
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  /* padding: 10px 20px; */
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}